.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top.show {
    opacity: 1;
  }
  
  .scroll-to-top button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .scroll-to-top button:hover {
    background-color: #0056b3;
  }
  #progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8px;
    background-color: #f4f4f4;
    z-index: 9999; 
  }
  
  #progressInnerBar {
    height: 100%;
    background-color: #00a1ff; 
    transition: width 0.2s ease-in-out; 
  }
  